# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.g.dart.bak

# Android
android/.gradle/
android/local.properties
android/app/debug/
android/app/release/
android/app/profile/
android/captures/
*.apk
*.aab

# IntelliJ / Android Studio
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# macOS
.DS_Store
